<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag "room" do %>
  <p>
    <strong>Name:</strong>
    <%= @room.name %>
  </p>

  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path, "data-turbo-frame": "_top" %>

  <div id="messages">
    <%= render @room.messages %>
  </div>
<% end %>

<%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
